language: android

android:
  components:
    - tools
    - platform-tools
    - build-tools-29.0.0
    - android-28
    - extra-android-m2repository

git:
  submodules: false
before_install:
  - git submodule update --init --recursive

jdk:
  - oraclejdk8

notifications:
  email: false

script:
  - chmod +x gradlew
  - ./gradlew assemble check
#  - ./gradlew checkstyle
